:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

ion-slide {
    padding: 120px 20px 120px 20px;
    display: block;
    img {
      width: 50%;
    }
  
    h2 {
      font-size: 36px;
      font-weight: bold;
    }
  }