<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Serge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>C&F Desarrollo</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        desarrollonqn@gmail.com
      </p>
      
      <p>
       0299 - 155 171 543 - 0299 156 789453
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
