
ion-content.background{
  --background: url(../../assets/img/fondoapp.jpg) 0 0/100% 100% no-repeat;
  margin-top: 30px;
  padding: 20px 20px 0px 20px;
  
}
ion-gridserge{
  margin-top: 30px;
  padding: 20px 20px 0px 20px;
}
ion-item{
  --background: #3880ff;
  --color: #fff;
  
}
ion-button{
  --background: #062f77;
  
}




