<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cargar Usuario:</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="profile">
  <ion-card no-margin>     
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Complete todos los campos:</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Nombre:</ion-label>
              <ion-input inputmode="text" placeholder="Ej..: Cintia" value=""></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Apellido:</ion-label>
              <ion-input inputmode="email" placeholder="Ej.: Millacura" value=""></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Direccion:</ion-label>
              <ion-input inputmode="text" placeholder="Ej.: Storni 234"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Telefono:</ion-label>
              <ion-input inputmode="text" placeholder="Ej. 1553434"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="text" placeholder="Ej.: cintia@gmail.com"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" position="stacked">Dni:</ion-label>
              <ion-input inputmode="text" placeholder="Ej.: 25222333"></ion-input>
            </ion-item>         
          </ion-list>

          <ion-list>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">Jerarquia:</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Ejecutivo</ion-label>
                <ion-radio slot="start" value="Ejecutivo" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label color="primary">Supervisor</ion-label>
                <ion-radio slot="start" value="Supervisor" checked></ion-radio>
              </ion-item>          
              <ion-item>
                <ion-label color="primary">Operador</ion-label>
                <ion-radio slot="start" value="Operador"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          
          <ion-list>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">Sexo:</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Femenino</ion-label>
                <ion-radio slot="start" value="FEMENINO" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label color="primary">Masculino</ion-label>
                <ion-radio slot="start" value="MASCULINO" checked></ion-radio>
              </ion-item>          
            </ion-radio-group>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Guardar</ion-button>
  </ion-card>
  <div padding>
  </div>
</ion-content>
