<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>        
      </h4>
    </div>

    <form [formGroup]="onLoginForm" class="list-form" (ngSubmit)="onSubmit()">
      <ion-item no-padding class="animated fadeInUp"  id="rounded">
        <ion-label position="floating">
          <ion-icon name="person-circle" item-start></ion-icon>
          Usuario
        </ion-label>
        <ion-input color="black" type="text" formControlName="usuario" autocomplete="off"></ion-input>
      </ion-item>
      <p ion-text *ngIf="onLoginForm.get('usuario').touched && onLoginForm.get('usuario').hasError('required')">
        <ion-text color="danger">
          Campo requerido
        </ion-text>
      </p>
  
      <ion-item no-padding class="animated fadeInUp" id="rounded">
        <ion-label position="floating">
          <ion-icon name="lock-closed" item-start></ion-icon>
          Contraseña
        </ion-label>
        <ion-input (keyup.enter)="presionaEnter()" color="black" type="password" formControlName="contrasena" autocomplete="off"></ion-input>
      </ion-item>
      <p ion-text *ngIf="onLoginForm.get('contrasena').touched && onLoginForm.get('contrasena').hasError('required')">
        <ion-text color="danger">Campo requerido</ion-text>
      </p>
  
        <ion-button type="submit" icon-left size="medium" expand="full" shape="round" color="primary" [disabled]="onLoginForm.invalid" tappable>
          <ion-icon name="log-in"></ion-icon>
          Ingresar
        </ion-button>
    </form>

  </div>
</ion-content>