<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Vehiculos Activos</ion-text>
        </ion-text>
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <!-- Listado de Vehiculos -->
      <ion-list>
          <ion-item *ngFor="let vehiculo of vehiculosArray">
            <ion-label>
           <h3>Matricula: {{ vehiculo.matricula }}</h3>
           <h3> Modelo: {{ vehiculo.modelo}}</h3>
            <h3> Ubicacion: {{ vehiculo.ubicacion}}</h3>
            <h3> ID Reserva: {{ vehiculo.$$instanceId}}</h3>
           </ion-label>
           <div class="item-note" item-end>
              <button ion-button clear (click)="cancelarReserva(Reserva, i)">
              <ion-icon name="trash" style="zoom:2.0"></ion-icon>
            </button>
          </div>
          </ion-item>
        </ion-list>
</ion-content>