<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Reservas Activas</ion-text>
        </ion-text>
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
        <ion-list>
          <ion-item *ngFor="let reserva of arrayVehiculos">
            <ion-label>  
              <h3> Inicia: {{ reserva.fechaInicio}}</h3>
                <h3> Finaliza: {{ reserva.fechaFin}}</h3>
                <h3> {{ reserva.vehiculo["title"] }}</h3>
                <h3> {{ reserva.persona["title"] }}</h3>                             
               </ion-label>               
                <ion-input type="text" [(ngModel)]="idreserva"></ion-input>
                <div class="item-note" item-end>
                  <button clear (click)="cancelarReserva(reserva.$$instanceId)">
                    <ion-icon name="trash" size="small" expand="full" shape="round" color="primary"></ion-icon>
                  </button>  
               </div>
          </ion-item>
        </ion-list>
       </ion-content>